{% extends "layout.html" %}

{% block head %}
    <title>Sobre - My Website</title>
{% endblock %}

{% block content %}
    <div id="wrapper">
        <img src="https://besthqwallpapers.com/Uploads/8-2-2020/120895/thumb2-2020-dodge-challenger-srt-hellcat-gray-sports-coupe-exterior.jpg" />
        <h1>El Dodge Challenger</h1>
        <h2>Monstro do Asfalto, Front-end e Back-end</h2>
        <p>Além de ter um <a href="https://www.youtube.com/watch?v=cKx-cb0fzeo" target="_blank">ronco</a> top, faço os carros comerem poeira, também programo interfaces e regras de negócio.</p>
    </div>

    <div id="links-footer" class="links">
        <a href="http://github.com/christophercsilva" target="_blank">GitHub</a>
        <a href="https://br.linkedin.com/in/christopher-costa-3940a1109" target="_blank">LinkedIn</a>
    </div>
{% endblock %}